<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan department">
	<parameter name ="URL" value="qaclickacademy.com"/>
	<test thread-count="5" name="Personal LoanApproval">
	<parameter name ="URL" value="personalloan.com"/>
		<classes>
			<class name="Testcases.Test1">
				<methods>
					<include name="demo"/>

				</methods>

			</class>

			<class name="Testcases.Test2" />
			<class name="Testcases.Test3"/>
			<class name="Testcases.Test4"/>

		</classes>

	</test> <!-- Test -->


	<test name="Car Loanapproval">
	<parameter name ="URL" value="carloan.com"/>
		<classes>
			<class name="Testcases.Carloan">
				<methods>

					<exclude name="Mobile.*" />

				</methods>

			</class>



		</classes>

	</test>
	<test name="Home Loanapproval">
	<parameter name ="URL" value="homeloan.com"/>
		<classes>
			<class name="Testcases.Homeloan">
				<methods>
					<include name="APIloginHome" />

				</methods>
			</class>



		</classes>




	</test>
</suite> <!-- Suite -->
